body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background: rgb(178, 165, 165);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    font-size: 16px;
    width: 80px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#message {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px;
    background: #eaeaea;
    margin: 5px;
    border-radius: 5px;
}
